@import "tailwindcss";
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  @apply min-h-dvh antialiased;
}
#root {
  @apply min-h-dvh flex flex-col;
}
main {
  @apply flex-1;
}
.dark-mode {
  @apply bg-slate-900 text-amber-50 transition-colors duration-200;
}
.light-mode {
  @apply bg-white text-slate-900 transition-colors duration-200;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
